@import "styles/global";

#footer {
	align-items: center;
	background-color: $accent-color;
	bottom: 0;
	display: flex;
	justify-content: center;
	padding: 1rem 4rem;

	&-content-wrapper {
		align-items: center;
		display: flex;
		justify-content: space-around;
		width: 75%;
	}

	p, a {
		color: $secondary-color;
	}

	@media screen and (min-width: 576px) {

	}

	@media screen and (min-width: 768px) {

	}

	@media screen and (min-width: 992px) {

	}

	@media screen and (min-width: 1200px) {

	}

	@media screen and (min-width: 1440px) {

	}

	@media screen and (min-width: 2100px) {

	}
}