@import "styles/global";

#footer {
	align-items: center;
	background-color: $accent-color;
	bottom: 0;
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 0 4rem;

	div {
		align-items: center;
		min-height: 4rem;
		display: flex;
		justify-content: center;
	}

	p, a {
		color: $secondary-color;
	}

	@media screen and (min-width: 576px) {

	}

	@media screen and (min-width: 768px) {

	}

	@media screen and (min-width: 992px) {

	}

	@media screen and (min-width: 1200px) {

	}

	@media screen and (min-width: 1440px) {

	}

	@media screen and (min-width: 2100px) {

	}
}