#services {
	padding: 2rem;

	section {
		margin: 2rem 0;
	}

	&-grid {
		width: 100%;

		section {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 0;

			div {
				height: 400px; // TODO: Remove temp
			}

			.services-description {
				align-items: center;
				display: flex;
				flex-direction: column;
				flex: 1;
				justify-content: center;

				img {
					height: 3rem;
					width: 3rem;	
				}
			}

			.services-image {
				align-items: center;
				display: flex;
				flex: 1;
				justify-content: center;
				object-fit: cover;

				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}



	@media screen and (min-width: 576px) {

	}

	@media screen and (min-width: 768px) {

	}

	@media screen and (min-width: 992px) {

	}

	@media screen and (min-width: 1200px) {

	}

	@media screen and (min-width: 1440px) {

	}

	@media screen and (min-width: 2100px) {

	}
}