@import "styles/global";

#home {
	#hero {
		height: 600px; // TODO: Remove temp
		position: relative;
		width: 100vw;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		#cta {
			background-color: $secondary-color;
			border-radius: 0.25rem;
			color: $accent-color;
			left: 50%;
			padding: 0.75rem 1rem;
			position: absolute;
			text-decoration: none;
			top: 50%;
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	#services {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: space-around;
		padding: 2rem;
	}

	@media screen and (min-width: 576px) {

	}

	@media screen and (min-width: 768px) {

	}

	@media screen and (min-width: 992px) {

	}

	@media screen and (min-width: 1200px) {

	}

	@media screen and (min-width: 1440px) {

	}

	@media screen and (min-width: 2100px) {

	}
}